*{
    box-sizing: border-box;
}
body{
    background-image: url('/space-tourism-website-main/starter-code/assets/home/background-home-desktop.jpg');
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: hidden;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    background-color: rgba(255, 255, 255, 0.1);
    width: 60%;
    text-align: center;
    padding: 20px;
    border: 0.2px solid rgba(255, 255, 255, 0.05);
    border-radius: 3px;
}
.page-num-span{
    padding: 10px;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;

}

a:hover{
    border-bottom: 3px solid white;
    border-bottom-right-radius: 2px ;
    border-bottom-left-radius: 2px ;
    border-top-right-radius: 2px ;
    border-top-left-radius: 2px ;
    color: white;
    transition: 300ms;

}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
.title{
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}
.title-span{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Serif Pro', serif;
    font-size: 5.5rem;
    letter-spacing: 10px;
}

p{
    color: rgba(255, 255, 255, 0.7);
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2em;

}

.explore-div{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Serif Pro', serif;
    color: rgb(32, 32, 32);
    font-size: 2.5rem;
    background: white;
    min-height: 200px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
}
